<%- include('pages/header.html') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2> <%= noticia.titulo %>? </h2>
            <div class="autor-nome">
                <span><%= noticia.author %></span>
            </div>
            <br/>
            <div style="display: flex; justify-content: center"><img style="max-width: 100%;" src="<%= noticia.imagem %>" alt="programação"></div> 

            <br/>
            
                <%- noticia.conteudo %>
                <h3>Quem é um desenvolvedor Full Stack?</h3>
                <%- noticia.conteudo %>


            </div>
        <div class="mais-lidas">

            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">

                <% for(let i=0; i < postsTop.length; i++){ %>

                <div class="mais-lida-noticia-single">
                    <img src="<%= postsTop[i].imagem %>" />
                    <div class="texto-mais-lida-single">
                        <h4><%= postsTop[i].categoria %></h4>
                        <p><%= postsTop[i].titulo %>?</p>
                        <a href="<%= postsTop[i].slug %>">Saiba mais</a>
                    </div>
                </div>

                <% } %>
            </div>
        </div>
    </div>
</section>


<%- include('pages/footer.html') %>

</body>
</html>